body {
    margin: 0;
}

h1,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato-Regular.woff2);
}

.header {
    background-color: #222;
}

.header-container {
    display: flex;
    max-width: 1600px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding: 18px 41px 19px 231px;
}

.search {
    padding: 28px 0px 20px 0px;
}

.menu {
    margin: 30px 0px 22px auto;
}

.profile {
    margin: 26px 0px 20px 33px;
}

.cart {
    margin: 26px 160px 20px 33px;
}

.sub-menu-1 {
    color: #000;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 32px 144px 24px 33px;
}

.sub-menu-2 {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 145px 0px 32px;
}

.sub-menu-3 {
    list-style-type: none;
    color: #6F6E6E;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 0px 10px 21px;
}

.sub-menu {
    opacity: 0;
    position: absolute;
    width: 232px;
    height: 634px;
    margin-top: 18px;
    margin-left: 100px;
    background-color: white;
}

.menu:hover .sub-menu {
    opacity: 1;
}

.intro {
    background-color: #F1E4E6;
}

.intro-container {
    display: flex;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

}

.intro-img{
    padding-right: 63px;
}

.intro-title {
    color: #222;
    font-family: 'Lato';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 0.8;
    align-self: center;
    height: 93px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    display: inline-block;
}

.intro-title-help {
    color: #222;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 400px;
}

.intro-title-help span {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.up {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    max-width: 1600px;
    gap: 30px;
    justify-content: center;
}

.up-help {
    position: relative;
}

.title {
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-down {
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 30%;
    left: 140%;
    text-align: center;
}

.title-down span {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title span {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feature-main {
    margin-top: 96px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-main-title {
    color: #222;
    font-family: 'Lato';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature-main-text {
    color: #9F9F9F;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 581px);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    gap: 30px;
    justify-content: center;
}

.feature-content {
    background-color: #F8F8F8;
    padding: 24px 16px;
}

.feature-img {
    position: relative;
    width: 100%;
}

.feature-img:hover::after {
    background-color: rgba(58, 56, 56, 0.86);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.feature-add {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity .35s ease;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    border: 1px solid white;
    background-color: inherit;
    z-index: 2;
    width: 138px;
    height: 44px;
}

.feature-img:hover .feature-add {
    opacity: 1;
}

.feature-title {
    color: #000;
    font-family: 'Lato';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature-text {
    color: #5D5D5D;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
}

.feature-price {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.feature-end {
    display: flex;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.feature-end-button {
    color: #F26376;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 212px;
    height: 48px;
    margin-top: 48px;
    border-color: #FF6A6A;
    background: white;
}

.feature-end-button:hover {
    color: #FFF;
    background: #F16D7F;
}

.delivery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(1, 341px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    max-width: auto;
    gap: 30px;
    background-color: #222224;
    justify-content: center;
}

.delivery-img {
    padding: 103px 0px 0px 158px;
}

.delivery-title {
    color: #FBFBFB;
    font-family: 'Lato';
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 28px;
    text-align: center;
}

.delivery-text {
    color: #FBFBFB;
    text-align: center;
    font-family: 'Lato';
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
    width: 360px;
    height: 34px;
}

.subscribe {
    display: flex;
    max-width: auto;
    height: 448px;
    background-image: url("./img/photo\ subscribe.jpg");
    background-size: cover;
    justify-content: space-between;
    margin: 0 auto;
}

.subscribe-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 230px;
}

.subscribe-right {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-top: 150px;
    margin-right: 230px;
}

.subscribe-title {
    color: #222224;
    text-align: center;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 360px;
    height: 99px;
}

.subscribe-sub {
    color: #222224;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
    width: 557px;
    height: 67px;
}

.subscribe-sub span {
    color: #222224;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.subscribe-email {
    color: #222224;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 230px;
    height: 49px;
    flex-shrink: 0;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 20px;
    margin-left: auto;
}

.subscribe-sub-but {
    color: #FFF;
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    max-width: auto;
    margin: 0 auto;
}

.footer-title {
    color: #FBFBFB;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 230px;
}

.footer-logo-container {
    display: flex;
    gap: 7px;
    padding: 24px 0;
    margin-right: 230px;
}

.footer-logo {
    width: 32px;
    height: 32px;
    background: white;
}

.footer-logo:hover {
    background: #F16D7F;
}


@media screen and (max-width: 1024px) {
    html, body {
        overflow-x: hidden;
    }

    .header-container {
        max-width: 1024px;
    }

    .logo {
        padding: 18px 41px 19px 32px;
    }

    .cart {
        margin: 26px 41px 20px 33px;
    }

    .sub-menu-1 {
        font-size: 10px;
        padding: 5px 0px 0px 10px;
    }

    .sub-menu-2 {
        font-size: 10px;
        padding: 5px 0px 0px 15px;
    }

    .sub-menu-3 {
        font-size: 10px;
        padding: 0px 0px 0px 0px;
    }

    .sub-menu {
        width: 150px;
        height: 350px;
        margin-top: 18px;
        margin-left: 0px;
    }

    .menu:hover .sub-menu {
        opacity: 1;
    }

    .intro {
        background-color: #F1E4E6;
    }

    .intro-container {
        max-width: 1024px;
    }

    .intro-img{
        padding-right: 39px;
    }

    .intro-title {
        font-size: 44px;
    }

    .intro-title-help {
        font-size: 24px;
    }

    .intro-title-help span {
        font-size: 24px;
    }

    .intro-img {
        width: 386px;
    }

    .up {
        grid-template-columns: repeat(3, 231px);
        max-width: 1024px;
        gap: 20px;
    }

    .img {
        width: 230px;
    }

    .img3 {
        width: 734px;
    }

    .title {
        width: 200px;
        height: 50px;
    }

    .title-down {
        top: 30%;
        left: 120%;
        width: 200px;
        height: 50px;
    }

    .feature-main {
        margin-top: 110px;
    }

    .feature {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        max-width: 1024px;
        margin-top: 72px;
        gap: 16px;
    }

    .feature-end {
        max-width: 1024px;
    }

    .feature-end-button {
        margin-top: 32px;
    }

    .feature-end-button:hover {
        color: #FFF;
        background: #F16D7F;
    }

    .delivery {
        grid-template-columns: repeat(1, 768px);
        grid-template-rows: repeat(3, 135px);
        margin-top: 65px;
        max-width: 1024px;
        height: 610px;
        text-align: center;
    }

    .delivery-img {
        padding: 48px 0px 0px 0px;
    }

    .delivery-title {
        margin-top: 28px;
    }

    .delivery-text {
        margin-top: 16px;
        width: 360px;
        margin-left: 204px;
    }

    .subscribe {
        max-width: 1024px;
        height: 448px;
        background-image: url("./img/photo\ subscribe.jpg");
        justify-content: center;
        flex-direction: column;
        height: 600px;
    }

    .subscribe-left {
        gap: 30px;
        margin-left: 0px;
    }

    .subscribe-right {
        gap: 5px;
        margin-top: 48px;
        margin-right: 0px;
    }

    .footer {
        max-width: 1024px;
    }

    .footer-title {
        margin-left: 32px;
    }

    .footer-logo-container {
        margin-right: 40px;
    }
}

@media screen and (max-width: 768px) {

    .header-container {
        max-width: 768px;
    }

    .logo {
        padding: 18px 41px 19px 16px;
    }

    .search {
        padding: 28px 0px 20px 0px;
    }

    .menu {
        margin: 30px 16px 22px auto;
    }

    .profile {
        display: none;
    }

    .cart {
        display: none;
    }

    .sub-menu-1 {
        font-size: 15px;
        padding: 0px 144px 0px 33px;
    }

    .sub-menu-2 {
        font-size: 15px;
        padding: 0px 145px 0px 32px;
    }

    .sub-menu-3 {
        font-size: 15px;
        padding: 0px 0px 0px 21px;
    }

    .sub-menu {
        width: 232px;
        height: 634px;
        margin-left: -180px;
    }

    .menu:hover .sub-menu {
        opacity: 1;
    }

    .intro {
        background-color: #F1E4E6;
    }

    .intro-container {
        max-width: 768px;
        height: 363px;
        justify-content: center;
    }

    .intro-img {
        display: none;
    }

    .intro-title {
        font-size: 38px;
        height: 61px;
        border-left: 12px solid #F16D7F;
    }

    .intro-title-help {
        font-size: 20px;
    }

    .intro-title-help span {
        font-size: 20px;
    }

    .up {
        grid-template-columns: repeat(1, 343px);
        grid-template-rows: repeat(3, 248px), 111px;
        max-width: 768px;
    }

    .img {
        width: 343px;
    }

    .img3 {
        width: 343px;
        height: 111px;
        object-fit: cover;
    }

    .up-help {
        position: relative;
    }

    .title-down {
        top: 30%;
        left: 20%;
    }

    .feature {
        grid-template-columns: repeat(1, 360px);
        grid-template-rows: repeat(6, 581px);
        max-width: 768px;
    }

    .footer {
        flex-direction: column;
        max-width: 768px;
        height: 143px;
    }

    .footer-title {
        margin-left: 0px;
        margin-bottom: 20px;
        order: 2;
    }

    .footer-logo-container {
        order: 1;
        margin-right: 0px;
        margin-top: 10px;
    }
}