body {
    margin: 0;
}

h1,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato-Regular.woff2);
}

.header {
    background-color: #222;
}

.header-container {
    display: flex;
    max-width: 1600px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding: 18px 41px 19px 231px;
}

.search {
    padding: 28px 0px 20px 0px;
}

.menu-2 {
    margin: 30px 0px 22px auto;
}

.menu-3 {
    margin: 26px 0px 20px 33px;
}

.menu-4 {
    margin: 26px 160px 20px 33px;
}

.sub-help {
    display: block;
    position: inline-block;
}

.sub-menu {
    display: none;
    position: absolute;
    margin-left: 99px;
    width: 232px;
    height: 634px;
    background-color: white;
}

.menu-2:hover .sub-menu {
    display: block;
}

.sub-menu-1 {
    color: #000;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 32px 144px 24px 33px;
}

.sub-menu-2 {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 145px 0px 32px;
}

.sub-menu-3 {
    list-style-type: none;
    color: #6F6E6E;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 0px 10px 21px;
}

.intro {
    background-color: #F1E4E6;
}

.intro-container {
    display: flex;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.intro-title {
    color: #222;
    font-family: 'Lato';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 0.8;
    align-self: center;
    margin-right: 331px;
    margin-left: auto;
    height: 93px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    display: inline-block;
    vertical-align: middle;
}

.intro-title-help {
    color: #222;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 400px;
}

.intro-title-help span {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.up {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    max-width: 1600px;
    gap: 30px;
    justify-content: center;
}

.up-help {
    position: relative;
}

.title {
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-down {
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 30%;
    left: 140%;
    text-align: center;
}

.title-down span {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title span {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 581px);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    gap: 30px;
    justify-content: center;
}

.bottom-content {
    background-color: #F8F8F8;
    padding: 24px 16px;
}

.add-1 {
    position: relative;
    display: inline-block;
}

.add {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 139px;
    height: 44px;
    border-color: #FFF;
    background-color: none;
}

.img2:hover+.add {
    display: block;
    background-color: rgba(58, 56, 56, 0.86);
}

.title2 {
    color: #000;
    font-family: 'Lato';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2 {
    color: #5D5D5D;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
}

.price {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.main {
    margin-top: 96px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: #222;
    font-family: 'Lato';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-text {
    color: #9F9F9F;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.end {
    display: flex;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.end-button {
    color: #F26376;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 212px;
    height: 48px;
    margin-top: 48px;
    border-color: #FF6A6A;
    background: white;
}

.end-button:hover {
    color: #FFF;
    background: #F16D7F;
}

.fall {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(1, 341px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    max-width: 1600px;
    gap: 30px;
    justify-content: center;
    background-color: #222224;
}

.img4 {
    padding: 103px 0px 0px 158px;
}

.title3 {
    color: #FBFBFB;
    font-family: 'Lato';
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 28px;
    text-align: center;
}

.text3 {
    color: #FBFBFB;
    text-align: center;
    font-family: 'Lato';
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
    width: 360px;
    height: 34px;
}

.fall2 {
    display: flex;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./img/photo\ subscribe.jpg");
}


.fall-img {
    padding: 97px 0px 30px 350px;
}

.fall2-title {
    color: #222224;
    text-align: center;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 360px;
    height: 99px;
    padding: 0px 0px 126px 228px;
}


.fall-sub {
    color: #222224;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
    margin-top: 150px;
    margin-left: 223px;
    width: 557px;
    height: 67px;
    text-align: center;
}

.fall-sub span {
    color: #222224;
    text-align: center;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.sub-help{
    display: inline-block;
}

.sub {
    color: #222224;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 256px;
    height: 49px;
    flex-shrink: 0;
    background-color: #E1E1E1;
    margin-top: 32px;
    border: none;
    margin-left: 327px;

}

.sub-but {
    color: #FFF;
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    border: none;
}

.fall3 {
    display: flex;
    max-width: 1600px;
    height: 79px;
    margin-left: auto;
    margin-right: auto;
    background-color: #222;
}

.fall3-title {
    color: #FBFBFB;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 30px 655px 30px 235px;
}

.fall-logo {
    width: 32px;
    height: 32px;
    background: white;
    margin-top: 24px;
    margin-right: 7px;
}

.fall-logo:hover {
    background: #F16D7F;
}


@media screen and (max-width: 768px) {
    .header-container {
        max-width: 768px;
    }

    .logo {
        padding: 18px 41px 19px 32px;
    }

    .search {
        padding: 28px 424px 20px 0px;
    }

    .menu {
        padding: 19px 33px 20px 0px;
    }

    .intro-container {
        max-width: 768px;
        height: 368px;
    }

    .intro-img {
        height: 368px;
        width: 386px;
    }

    .intro-title {
        font-size: 44px;
        margin-left: 39px;
        height: 78px;
        width: 283px
    }

    .intro-title-help {
        font-size: 24px;
    }

    .intro-title-help span {
        font-size: 24px;
    }

    .img {
        width: 232px;
        height: 167px;
    }

    .img3 {
        width: 734px;
        height: 117px;
    }

    .title {
        width: 154px;
    }

    .title-down {
        width: 160px;
        left: 120%;
    }

    .up {
        grid-template-columns: repeat(3, 232px);
        max-width: 768px;
        gap: 19px;
    }


    .bottom {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        max-width: 768px;
    }

    .fall {
        grid-template-columns: repeat(1, 768px);
        grid-template-rows: repeat(3, 200px);
        max-width: 768px;
        gap: 48px;
        padding: none;
        margin: none;
    }
    
    .img4 {
        padding: none;
        margin: none;
    }
    
    .title3 {
        color: #FBFBFB;
        font-family: 'Lato';
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        padding: none;
        margin: none;
    }
    
    .text3 {
        color: #FBFBFB;
        text-align: center;
        font-family: 'Lato';
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: none;
        margin: none;
    }

    .fall2 {
        display: flex;
        max-width: 768px;
        height: 610px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("./img/photo\ subscribe.jpg");
    }
    
    .fall-img {
        padding: none;
        margin-top: 64px;
    }
    
    .fall2-title {
        padding: none;
        margin-top: 30;
    }
    
    .fall-sub {
        color: #222224;
        font-family: 'Lato';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167.2%;
        width: 557px;
        height: 67px;
        text-align: center;
        margin-top: 48px;
    }
    
    .fall-sub span {
        color: #222224;
        text-align: center;
        font-family: 'Lato';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 167.2%;
    }
    
    .sub-help{
        display: block;
    }
    
    .sub {
        color: #222224;
        font-family: 'Lato';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 256px;
        height: 49px;
        flex-shrink: 0;
        background-color: #E1E1E1;
        border: none;
    }
    
    .sub-but {
        color: #FFF;
        text-align: center;
        font-family: 'Lato';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100px;
        height: 49px;
        background-color: #F16D7F;
        border: none;
    }
    
    .fall3 {
        max-width: 768px;
    }
    
    .fall3-title {
        padding: 30px 315px 30px 32px;
    }   
}

@media screen and (max-width: 376px) {
    .header-container {
        max-width: 375px;
    }

    .logo {
        height: 38px;
        width: 44px;
        padding: 18px 41px 18px 16px;
    }

    .search {
        padding: 28px 200px 19px 0px;
    }

    .menu {
        display: none;
    }

    .menu-2 {
        height: 23px;
        width: 32px;
        padding: 25px 0 26px 0px;
    }

    .intro-container {
        max-width: 375px;
        height: 363px;
    }

    .intro-img {
        display: none;
    }

    .intro-title {
        font-size: 38px;
        margin-left: 56px;
        height: 66px;
        width: 236px;
    }

    .intro-title-help {
        font-size: 20px;
    }

    .intro-title-help span {
        font-size: 20px;
    }

    .img {
        width: 343px;
        height: 247px;
    }

    .img3 {
        width: 343px;
        height: 111px;
        object-fit: cover;
    }

    .title {
        width: 154px;
    }

    .title-down {
        width: 160px;
        top: 25%;
        left: 27%;
    }

    .up {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 247px);
        max-width: 375px;
    }


    .bottom {
        grid-template-columns: repeat(1, 359px);
        grid-template-rows: repeat(6, 579px);
        max-width: 375px;
    }

    .text2 {
        margin-top: 12px;
    }

    .price {
        margin-top: 18px;
    }

    .img2 {
        width: 359px;
        height: 419px;
    }

    .bottom-content {
        background-color: #F8F8F8;
        padding: 24px 16px;
    }

    .main {
        margin-top: 64px;
    }

}